nav {
    display:flex;
    align-items:center;
    justify-content:center;
}
ul {
    list-style-type:none;
    padding:0;
}
li {
    display:inline-block;
    margin:1rem;
}
a {
    text-decoration:none;
    color:inherit;
}